# Exakte Versionen speichern, keine ^-Bereiche
save-exact=true
# Installationsskripte von Paketen nicht ausführen (Schutz vor Lieferketten-Angriffen)
ignore-scripts=true
engine-strict=true
fund=false
